In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'Desktop\Classes\ExcelR\Assignments\Assignment - 18\Neural networks\refer\Alphabets_data.csv')

In [4]:
df

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [5]:
# Import necessary libraries
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from scikeras.wrappers import KerasClassifier  # Use scikeras instead of tensorflow wrapper

In [6]:
# Display the first few rows and dataset summary
print(df.head())
print(df.info())

  letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  xybar  \
0      T     2     8      3       5      1     8    13      0      6      6
1      I     5    12      3       7      2    10     5      5      4     13
2      D     4    11      6       8      6    10     6      2      6     10
3      N     7    11      6       6      3     5     9      4      6      4
4      G     2     1      3       1      1     8     6      6      6      6

   x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
0      10       8      0       8      0       8
1       3       9      2       8      4      10
2       3       7      3       7      3       9
3       4      10      6      10      2       8
4       5       9      1       7      5      10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   letter  20000 non-null  object
 1   xbox    20000 non-null  int64
 2   ybox    20000 non-null  int64
 3   width   20000 non-null  int64
 4   height  20000 non-null  int64
 5   onpix   20000 non-null  int64
 6   xbar    20000 non-null  int64
 7   ybar    20000 non-null  int64
 8   x2bar   20000 non-null  int64
 9   y2bar   20000 non-null  int64
 10  xybar   20000 non-null  int64
 11  x2ybar  20000 non-null  int64
 12  xy2bar  20000 non-null  int64
 13  xedge   20000 non-null  int64
 14  xedgey  20000 non-null  int64
 15  yedge   20000 non-null  int64
 16  yedgex  20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB
None

In [7]:
# Check for missing values
print(df.isnull().sum())

letter    0
xbox      0
ybox      0
width     0
height    0
onpix     0
xbar      0
ybar      0
x2bar     0
y2bar     0
xybar     0
x2ybar    0
xy2bar    0
xedge     0
xedgey    0
yedge     0
yedgex    0
dtype: int64

In [17]:
# Separate features and target
X = df.drop(columns=['letter'])
y = df['letter']

In [23]:
# Encode target labels
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [25]:
# Normalize the feature columns
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [27]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_encoded, test_size=0.2, random_state=42)

In [29]:
# Build the ANN model
model = Sequential()

In [31]:
# Input layer and hidden layer
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))

C:\Users\ritee\ass_ann\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [33]:
# Output layer (26 output classes for each letter of the alphabet)
model.add(Dense(26, activation='softmax'))

In [35]:
# Compile the model
model.compile(optimizer=Adam(), loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [37]:
# Train the model
history = model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test), verbose=2)

Epoch 1/10
500/500 - 1s - 2ms/step - accuracy: 0.4700 - loss: 2.0345 - val_accuracy: 0.6745 - val_loss: 1.2725
Epoch 2/10
500/500 - 0s - 743us/step - accuracy: 0.7147 - loss: 1.0607 - val_accuracy: 0.7575 - val_loss: 0.8976
Epoch 3/10
500/500 - 0s - 711us/step - accuracy: 0.7726 - loss: 0.8205 - val_accuracy: 0.7928 - val_loss: 0.7434
Epoch 4/10
500/500 - 0s - 701us/step - accuracy: 0.8031 - loss: 0.6974 - val_accuracy: 0.8173 - val_loss: 0.6509
Epoch 5/10
500/500 - 0s - 699us/step - accuracy: 0.8233 - loss: 0.6172 - val_accuracy: 0.8350 - val_loss: 0.5879
Epoch 6/10
500/500 - 0s - 733us/step - accuracy: 0.8401 - loss: 0.5580 - val_accuracy: 0.8443 - val_loss: 0.5425
Epoch 7/10
500/500 - 0s - 762us/step - accuracy: 0.8528 - loss: 0.5123 - val_accuracy: 0.8533 - val_loss: 0.5056
Epoch 8/10
500/500 - 0s - 700us/step - accuracy: 0.8621 - loss: 0.4757 - val_accuracy: 0.8635 - val_loss: 0.4728
Epoch 9/10
500/500 - 0s - 719us/step - accuracy: 0.8716 - loss: 0.4445 - val_accuracy: 0.8702 - val_loss: 0.4426
Epoch 10/10
500/500 - 0s - 712us/step - accuracy: 0.8798 - loss: 0.4184 - val_accuracy: 0.8737 - val_loss: 0.4228

In [39]:
# Evaluate the model on test data
y_pred = np.argmax(model.predict(X_test), axis=-1)
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred, target_names=label_encoder.classes_)

125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step

In [41]:
# Output the evaluation results
print(f'Accuracy: {accuracy * 100:.2f}%')
print(classification_rep)

Accuracy: 87.38%
              precision    recall  f1-score   support

           A       0.91      0.93      0.92       149
           B       0.84      0.84      0.84       153
           C       0.88      0.84      0.86       137
           D       0.81      0.84      0.83       156
           E       0.87      0.88      0.87       141
           F       0.82      0.91      0.86       140
           G       0.84      0.79      0.82       160
           H       0.78      0.66      0.71       144
           I       0.92      0.86      0.89       146
           J       0.91      0.86      0.89       149
           K       0.81      0.78      0.79       130
           L       0.95      0.93      0.94       155
           M       0.95      0.92      0.93       168
           N       0.92      0.87      0.90       151
           O       0.85      0.83      0.84       145
           P       0.93      0.87      0.90       173
           Q       0.90      0.94      0.92       166
           R       0.70      0.89      0.79       160
           S       0.87      0.82      0.84       171
           T       0.93      0.91      0.92       163
           U       0.90      0.91      0.91       183
           V       0.93      0.90      0.92       158
           W       0.86      0.97      0.91       148
           X       0.88      0.92      0.90       154
           Y       0.94      0.89      0.91       168
           Z       0.84      0.92      0.88       132

    accuracy                           0.87      4000
   macro avg       0.87      0.87      0.87      4000
weighted avg       0.88      0.87      0.87      4000